body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  padding: 60px;
}

h1 {
  color: #00ffff;
  font-size: 2.5em;
}

h2 {
  color: #cccccc;
  margin-bottom: 40px;
}

.butoane {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.discord {
  background-color: #5865F2;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.discord:hover {
  background-color: #0f0f0f;
}

.youtube {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.youtube:hover {
  background-color: #0f0f0f;
}

.joc {
  background-color: #ff7c1e;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.joc:hover {
  background-color: #0f0f0f;
}
img {
  display: block;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}